<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa Đông Không Lạnh</title>
  </head>
  <body>
    <h1> Search page </h1>
    {% for service in all_service %}
    <div>
      {% if service.gender == 1 %}
      <img src="../static/image/male.jpg" alt="">
      {% else %}
      <img src="../static/image/female.jpg" alt="">
      {% endif %}
      <p>Name: {{service.name}} </p>
      <p>Yob: {{service.yob}} </p>
      <p>Gender: {{service.gender}} </p>
      <p>Phone: {{service.phone}} </p>
      <p>Address: {{service.address}} </p>
      <p>Height: {{service.height}} </p>
      <p>Status: {{service.status}} </p>
    </div>
      <p>***************************************************************</p>
    {% endfor %}

  </body>
</html>
